# Database
DATABASE_URL="postgresql://admin:123qwe123@localhost:5432/akotav?schema=public"

# MinIO
MINIO_ENDPOINT="localhost"
MINIO_PORT="9000"
MINIO_ACCESS_KEY="admin"
MINIO_SECRET_KEY="123qwe123"
MINIO_USE_SSL="false"
MINIO_BUCKET="akotav"

# Auth
JWT_SECRET="akotav-super-secret-jwt-key-change-in-production"

# Next.js
NEXT_PUBLIC_MINIO_ENDPOINT="http://localhost:9000"
